---
import Section from "./Section.astro";
---

<Section title="" subtitle="" color="black" id="ChargeSection">
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-white bg-white text-sm rounded font-medium text-black px-12 py-2 transition-colors hover:bg-black hover:text-white hover:border-black inline-flex justify-center items-center"
      href="#"
    >
      Comprar ahora
    </a>
  </div>

  <img
    slot="background"
    src="/charge.avif"
    alt="Charge"
    class="h-full w-full object-cover object-center"
  />
</Section>
