---
import Section from "../components/Section.astro";
---

<Section
  title="Disfrute de Tesla"
  subtitle="Programe una prueba de condición hoy mimsmo"
  color="white"
>
  <div slot="footer">
    <a
      class={`border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:text-black hover:bg-white transition-colors`}
      href="#"
    >
      Prueba de conducción
    </a>
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    playsinline
    src="/video.mp4"
  >
  </video>
</Section>
